<!DOCTYPE html>
<html>
  <head>
    <title>Prodigy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="icon" href="https://prodigy-genius.herokuapp.com/favicon.ico"/>
    <meta name="author" content="Jonathan Ortiz"/>
    <meta name="image" property="og:image" content="https://prodigy-genius.herokuapp.com/Prodigy.png" />
    <meta property="og:description" content="A Genius.com clone."/>
    <meta property="og:url" content="https://prodigy-genius.herokuapp.com/#/" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
